
.logo {
  margin-top: 80px;
  border-radius: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;

}

ion-content {
  --ion-background-color: #111D12;
}

ion-input {
  --padding-end: 5px;
  --padding-start: 5px;
}