
<ion-content color="primary" class="ion-padding">
    <form (submit)="doLogin()">
        <ion-grid>
            <ion-row class="ion-justify-content-center ion-flex-direction-column ion-padding">
                <ion-item class="ion-margin-top" lines="none">
                    <img class="logo" src="../../assets/icon/icon.png">
                </ion-item>
            </ion-row>
            <ion-row color="primary"  class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size="12">
                    <div class="ion-padding">
                        <ion-item >
                            <ion-input name="email" [(ngModel)]="account.username" type="text" placeholder="Username" ngModel required></ion-input>
                        </ion-item>
                        <ion-item >
                            <ion-input name="password" [(ngModel)]="account.password" type="password" placeholder="Password" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div class="ion-padding">
                        <ion-button id="login" size="large" type="submit"  expand="block">Login</ion-button>
                    </div>
                    <ion-row>
                        <div class="ion-text-center">
                            If you don't have an account, please <a routerLink='/register'>
                            register</a> first!
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>

