<ion-content>
    <form (submit)="doLogin()">
        <div center-content style="display: flex" id="logo">
            <img alt="" src="">
        </div>

        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contrase&ntilde;a</ion-label>
            <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>
        <div>
            <ion-button type="submit" color="success">Entrar</ion-button>
        </div>
    </form>
</ion-content>
